# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Environment
.env
.env.local

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
!.vscode/settings.json